nav{
    background-color: rgb(44, 38, 49);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   text-align: left;
   text-decoration: none;
   padding: 0,5px;
 
   
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
}